p
{
    background-color:aquamarine;
}
a{
    background-color: rgb(rgb(184, 98, 98), green, blue);
}
div{
    background-color: yellow;
}
span{
    background-color: rgb(155, 215, 215);
}