.wrap {
  margin: 30px auto;
  max-width: 1000px;
  width: 90vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: sans-serif;
}

.box {
  width: calc(20%);
  margin: 20px;
  background: #ddd;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  line-height: 130px;
}

/* Background */
.blue {
  background-color: rgba(56, 207, 248, 0.5);
}

/* scaleX */
.scaleX {
  transform: scaleX(1);
  transition: transform 0.5s ease;
}
.box:hover .scaleX {
  transform: scaleX(2);
}

/* scaleY */
.scaleY {
  transform: scaleY(1);
  transition: transform 0.5s ease;
}
.box:hover .scaleY {
  transform: scaleY(2);
}

/* scale */
.scale {
  transform: scale(1);
  transition: transform 0.5s ease;
}
.box:hover .scale {
  transform: scale(1.5);
}

/* translateX */
.translateX {
  transform: translateX(0);
  transition: transform 0.5s ease;
}
.box:hover .translateX {
  transform: translateX(2em);
}

/* translateY */
.translateY {
  transform: translateY(0);
  transition: transform 0.5s ease;
}
.box:hover .translateY {
  transform: translateY(2em);
}

/* translate */
.translate {
  transform: translate(0, 0);
  transition: transform 0.5s ease;
}
.box:hover .translate {
  transform: translate(2em, 2em);
}

/* matrix */
.matrix {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform 0.5s ease;
}
.box:hover .matrix {
  transform: matrix(1, -1, 0, 1, 0, 0);
}

/* rotate */
.rotate {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}
.box:hover .rotate {
  transform: rotate(270deg);
}

/* skew */
.skew {
  transform: skew(0deg, 0deg);
  transition: transform 0.5s ease;
}
.box:hover .skew {
  transform: skew(30deg, 20deg);
}

/* skewX */
.skewX {
  transform: skewX(0deg);
  transition: transform 0.5s ease;
}
.box:hover .skewX {
  transform: skewX(30deg);
}

/* skewY */
.skewY {
  transform: skewY(0deg);
  transition: transform 0.5s ease;
}
.box:hover .skewY {
  transform: skewY(30deg);
}

/* matrix3d */
.matrix3d {
  transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, 0,
    0, 0, 1, 0,
    0, 0, 0, 1
  );
  transition: transform 0.5s ease;
}
.box:hover .matrix3d {
  transform: matrix3d(
    0.85, 0.5, 0.15, 0,
   -0.5, 0.71, 0.5, 0,
    0.15, -0.5, 0.85, 0,
   22.63, -20.32, 101.37, 1
  );
}

/* translate3d */
.translate3d {
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.5s ease;
}
.box:hover .translate3d {
  transform: translate3d(1px, 1px, 50px) rotate3d(3, 2, 2, 90deg);
}

/* rotateY */
.rotateY {
  transform: perspective(500px) rotateY(0deg);
  transition: transform 0.5s ease;
}
.box:hover .rotateY {
  transform: perspective(500px) rotateY(45deg);
}

/* rotateX */
.rotateX {
  transform: perspective(500px) rotateX(0deg);
  transition: transform 0.5s ease;
}
.box:hover .rotateX {
  transform: perspective(500px) rotateX(45deg);
}

/* translateZ */
.translateZ {
  transform: translateZ(0px);
  transition: transform 0.5s ease;
}
.box:hover .translateZ {
  transform: rotate3d(3, 2, 2, 90deg) translateZ(50px);
}
